<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>node</key>
		<array>
			<dict>
				<key>label</key>
				<string>云计算</string>
				<key>name</key>
				<string>cloud</string>
			</dict>
			<dict>
				<key>label</key>
				<string>宽带症候群</string>
				<key>name</key>
				<string>bb</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Android</string>
				<key>name</key>
				<string>android</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Linux</string>
				<key>name</key>
				<string>linux</string>
			</dict>
			<dict>
				<key>label</key>
				<string>nodejs</string>
				<key>name</key>
				<string>node.js</string>
			</dict>
			<dict>
				<key>name</key>
				<string>programmer</string>
				<key>label</key>
				<string>程序员</string>
			</dict>
			<dict>
				<key>name</key>
				<string>python</string>
				<key>label</key>
				<string>Python</string>
			</dict>
			<dict>
				<key>name</key>
				<string>idev</string>
				<key>label</key>
				<string>iDev</string>
			</dict>
		</array>
		<key>label</key>
		<string>技术</string>
		<key>name</key>
		<string>tech</string>
	</dict>
	<dict>
		<key>label</key>
		<string>创意</string>
		<key>name</key>
		<string>creative</string>
		<key>node</key>
		<array>
			<dict>
				<key>name</key>
				<string>create</string>
				<key>label</key>
				<string>分享创造</string>
			</dict>
			<dict>
				<key>name</key>
				<string>design</string>
				<key>label</key>
				<string>设计</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ideas</string>
				<key>label</key>
				<string>奇思妙想</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>label</key>
		<string>好玩</string>
		<key>name</key>
		<string>play</string>
		<key>node</key>
		<array>
			<dict>
				<key>name</key>
				<string>share</string>
				<key>label</key>
				<string>分享发现</string>
			</dict>
			<dict>
				<key>name</key>
				<string>games</string>
				<key>label</key>
				<string>电子游戏</string>
			</dict>
			<dict>
				<key>name</key>
				<string>movie</string>
				<key>label</key>
				<string>电影</string>
			</dict>
			<dict>
				<key>name</key>
				<string>tv</string>
				<key>label</key>
				<string>剧集</string>
			</dict>
			<dict>
				<key>name</key>
				<string>music</string>
				<key>label</key>
				<string>音乐</string>
			</dict>
			<dict>
				<key>name</key>
				<string>travel</string>
				<key>label</key>
				<string>旅游</string>
			</dict>
			<dict>
				<key>name</key>
				<string>android</string>
				<key>label</key>
				<string>Android</string>
			</dict>
			<dict>
				<key>name</key>
				<string>afterdark</string>
				<key>label</key>
				<string>午夜俱乐部</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>label</key>
		<string>Apple</string>
		<key>name</key>
		<string>apple</string>
		<key>catalogs</key>
		<array>
			<dict>
				<key>name</key>
				<string>macosx</string>
				<key>label</key>
				<string>Mac OS X</string>
			</dict>
			<dict>
				<key>name</key>
				<string>iphone</string>
				<key>label</key>
				<string>iPhone</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ipad</string>
				<key>label</key>
				<string>iPad</string>
			</dict>
			<dict>
				<key>name</key>
				<string>mbp</string>
				<key>label</key>
				<string>MBP</string>
			</dict>
			<dict>
				<key>name</key>
				<string>imac</string>
				<key>label</key>
				<string>iMac</string>
			</dict>
			<dict>
				<key>name</key>
				<string>apple</string>
				<key>label</key>
				<string>Apple</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>label</key>
		<string>酷工作</string>
		<key>name</key>
		<string>jobs</string>
		<key>node</key>
		<array>
			<dict>
				<key>name</key>
				<string>jobs</string>
				<key>label</key>
				<string>酷工作</string>
			</dict>
			<dict>
				<key>name</key>
				<string>cv</string>
				<key>label</key>
				<string>求职</string>
			</dict>
			<dict>
				<key>name</key>
				<string>outsourcing</string>
				<key>label</key>
				<string>外包</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>label</key>
		<string>交易</string>
		<key>name</key>
		<string>deals</string>
		<key>node</key>
		<array>
			<dict>
				<key>name</key>
				<string>free</string>
				<key>label</key>
				<string>免费赠送</string>
			</dict>
			<dict>
				<key>name</key>
				<string>dn</string>
				<key>label</key>
				<string>域名</string>
			</dict>
			<dict>
				<key>name</key>
				<string>tuan</string>
				<key>label</key>
				<string>团购</string>
			</dict>
			<dict>
				<key>name</key>
				<string>all4all</string>
				<key>label</key>
				<string>二手交易</string>
			</dict>
			<dict>
				<key>name</key>
				<string>exchange</string>
				<key>label</key>
				<string>物物交换</string>
			</dict>
			<dict>
				<key>name</key>
				<string>68631</string>
				<key>label</key>
				<string>安全提示</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>label</key>
		<string>城市</string>
		<key>name</key>
		<string>city</string>
		<key>node</key>
		<array>
			<dict>
				<key>name</key>
				<string>beijing</string>
				<key>label</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>name</key>
				<string>shanghai</string>
				<key>label</key>
				<string>上海</string>
			</dict>
			<dict>
				<key>name</key>
				<string>shenzhen</string>
				<key>label</key>
				<string>深圳</string>
			</dict>
			<dict>
				<key>name</key>
				<string>guangzhou</string>
				<key>label</key>
				<string>广州</string>
			</dict>
			<dict>
				<key>name</key>
				<string>hangzhou</string>
				<key>label</key>
				<string>杭州</string>
			</dict>
			<dict>
				<key>name</key>
				<string>chengdu</string>
				<key>label</key>
				<string>成都</string>
			</dict>
			<dict>
				<key>name</key>
				<string>kunming</string>
				<key>label</key>
				<string>昆明</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ny</string>
				<key>label</key>
				<string>纽约</string>
			</dict>
			<dict>
				<key>name</key>
				<string>la</string>
				<key>label</key>
				<string>洛杉矶</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>label</key>
		<string>问与答</string>
		<key>name</key>
		<string>qna</string>
		<key>node</key>
		<array>
			<dict>
				<key>name</key>
				<string>qna</string>
				<key>label</key>
				<string>问与答</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>node</key>
		<array>
			<dict>
				<key>name</key>
				<string>share</string>
				<key>label</key>
				<string>分享发现</string>
			</dict>
			<dict>
				<key>name</key>
				<string>create</string>
				<key>label</key>
				<string>分享创造</string>
			</dict>
			<dict>
				<key>name</key>
				<string>qna</string>
				<key>label</key>
				<string>问与答</string>
			</dict>
			<dict>
				<key>name</key>
				<string>jobs</string>
				<key>label</key>
				<string>酷工作</string>
			</dict>
			<dict>
				<key>name</key>
				<string>programmer</string>
				<key>label</key>
				<string>程序员</string>
			</dict>
			<dict>
				<key>name</key>
				<string>career</string>
				<key>label</key>
				<string>职场话题</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ideas</string>
				<key>label</key>
				<string>奇思妙想</string>
			</dict>
		</array>
		<key>name</key>
		<string>all</string>
		<key>label</key>
		<string>全部</string>
	</dict>
</array>
</plist>
